//Content

.containerCarousel {
  padding: 0.2rem;
}

.posterContainer {
  display: inline-flex;
  margin: 1.5rem;

  position: relative;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  border-radius: 0.8rem;
}

.posterContainer img {
  border-radius: 0.8rem;
  width: 100%;
  object-fit: cover;
}

.ratingContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--lighterBackgroundColor);
  font-size: 0.9rem;
  padding: 0.5rem;
  border-top-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.ratingContent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9;
}

.ratingContent i {
  font-size: 0.7;
  margin-right: 0.2rem;
}

.posterContainer:hover {
  cursor: pointer;
  transform: scale(1.1);
}
//carousel link background color
:host ::ng-deep {
  .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: var(--darkPrimaryColor);
  }
}
