<div class="gridCardContainer">
  <div
    class="posterContainer"
    (click)="redirectToProduction(production)"
    *ngFor="let production of productions"
  >
    <img src="{{ production.backdrop_path }}" alt="" />
    <div class="ratingContainer">
      <span class="ratingContent">
        <i class="pi pi-star-fill" style="color: var(--darkPrimaryColor)"></i
        >{{ production.vote_average }}</span
      >
    </div>
  </div>
</div>

<p-paginator
  *ngIf="paginator == true"
  (onPageChange)="onPageChange($event)"
  [first]="first"
  [rows]="rows"
  [totalRecords]="totalRecords"
/>
