//Header

//carouselContainer

.gridCardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.posterContainer {
  display: inline-flex;
  margin: 1rem;
  position: relative;

  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0.8rem;
  transition: transform 0.3s ease-in-out;
}

.posterContainer img {
  border-radius: 0.8rem;
  width: 100%;
  max-width: 300px;
}

.ratingContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--lighterBackgroundColor);
  font-size: 0.9rem;
  padding: 0.5rem;
  border-top-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.ratingContent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9;
  transition: transform 0.3s ease-in-out;
}

.ratingContent i {
  font-size: 0.7;
  margin-right: 0.2rem;
}

.posterContainer:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media screen and (max-width: 682px) {
  .gridCardContainer {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
    padding: 0.5rem;
  }
  :host ::ng-deep {
    .p-paginator-pages .p-paginator-page:nth-child(n + 3) {
      display: none;
    }
  }
}

:host ::ng-deep {
  .p-paginator {
    background-color: var(--BackgroundColor);
    color: white;
    border: none;
    background-color: none;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
  }
  .p-paginator .p-paginator-pages .p-paginator-page {
    color: white;
  }
  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: var(--hoverBackGroundColor);
  }

  .p-paginator .p-paginator-pages .p-paginator-page:hover {
    background-color: var(
      --hoverBackGroundColor
    ); /* Substitua pelo seu valor de cor de hover desejado */
    /* Adicione qualquer outra propriedade que desejar para o efeito hover */
  }
}
