<p-carousel
  [value]="productions"
  [numVisible]="3"
  [circular]="false"
  [autoplayInterval]="3000"
  [responsiveOptions]="responsiveOptions"
  [showIndicators]="false"
>
  <ng-template pTemplate="header">
    <span class="headerContainer">
      <span class="headerTitle">{{ cardTitle }}</span>
    </span>
  </ng-template>
  <ng-template let-production pTemplate="item">
    <div class="posterContainer" (click)="redirectToProduction(production)">
      <img
        src="{{ production.backdrop_path }}"
        alt="{{ production.title }}"
        width="300"
      />
      <div class="ratingContainer">
        <span class="ratingContent">
          <i class="pi pi-star-fill" style="color: var(--darkPrimaryColor)"></i
          >{{ production.vote_average }}</span
        >
      </div>
    </div>
  </ng-template>
</p-carousel>
