.nabBarContainer {
  background-color: var(--lightBackgroundColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Elevação */
}

.actionsContainer {
  display: flex;
  align-items: center;
}

.createAccountAction {
  margin-right: 0.8rem;
}

.loginButtonAction {
  border-left: 0.1rem solid gray;
}

.loginButton {
  margin-left: 0.8rem;
}

.logoContainer {
  display: flex;
  align-items: center;
}

img {
  width: 100%;
  height: fit-content;
}

img:hover {
  cursor: pointer;
}
