<div class="container" *ngFor="let production of productions">
  <div class="productionHeader">
    <span class="productionHeaderTitle">{{
      production.title || production.name
    }}</span>
    <div class="productionHeaderSubTitle">
      {{ production.original_name || production.original_title }}
    </div>
  </div>

  <div class="grid nested-grid p-3" *ngFor="let production of productions">
    <div class="col-12 md:col-9 lg:col-9">
      <div class="grid">
        <div class="col-12 px-3">
          <div class="text-center" id="imageContainer">
            <img src="{{ production.backdrop_path }}" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-3 lg:col-3">
      <div class="text-center h-full">
        <div class="text-center h-full px-3" id="productionInfoContainer">
          <div class="voteContainer">
            <div class="voteContent">
              <div class="voteTitle">Avaliação</div>
              <!-- prettier-ignore -->
              <div class="ratingContent"><i class="pi pi-star-fill" style="color: var(--darkPrimaryColor)"></i>{{ production.vote_average }}
              </div>
            </div>
          </div>
          <a [href]="trailerUrlSafe" target="_blank" class="trailerlink">
            <div class="TrailerContainer">
              <div class="voteContent">
                <div class="voteTitle">Trailer</div>
                <!-- prettier-ignore -->
                <div class="trailerContent"><i class="pi pi-youtube" style="color: red"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="genreOuterContainer">
    <div class="genreContainer" *ngFor="let genre of genres">
      <span class="genreContent">
        <button
          pButton
          type="button"
          severity="warning"
          size="small"
          label="{{ genre.name }}"
          [rounded]="true"
          [raised]="true"
          [outlined]="true"
        ></button>
      </span>
    </div>
  </div>

  <div class="productionDetailsContainer">
    <span class="descriptionContent">
      <b>Sinopse:</b> {{ production.overview || notFoundMessage }}</span
    >
    <span class="descriptionContent">
      <b>Data de Lançamento:</b>
      {{ production.release_date || production.first_air_date }}</span
    >
    <span class="descriptionContent">
      <b>Diretor(a):</b>
      {{ directors }}</span
    >
    <span class="descriptionContent">
      <b>Escritor(a):</b>
      {{ writers }}</span
    >
  </div>
  <div class="castingContainer">
    <app-avatar-card [casting]="casting" [cardTitle]="avatarCardTitle">
    </app-avatar-card>
  </div>
  <div class="reviewSection">
    <div class="headerContainer">
      <span class="headerTitle">Comentários</span>
    </div>

    <div class="reviewContent">
      <div class="textAreaContainer">
        <form [formGroup]="commentFormGroup" (ngSubmit)="submitForm()">
          <textarea
            pInputTextarea
            placeholder="Deixe seu Comentário..."
            formControlName="commentControl"
            (click)="toggleSubmit()"
            [(ngModel)]="textAreaText"
            [autoResize]="true"
            rows="1"
          ></textarea>

          <span class="buttonsContainer" *ngIf="isTyping == true">
            <p-button
              label="Cancelar"
              class="closeButton"
              (click)="CloseToggle()"
            />
            <p-button
              *ngIf="isUserLoggedIn == true"
              label="Comentar"
              class="commentButton"
              severity="warning"
              type="submit"
            />
            <p-button
              *ngIf="isUserLoggedIn == false"
              label="Comentar"
              class="commentButton"
              severity="warning"
              (click)="showDialog()"
            />
          </span>
          <p-dialog
            header="Parece que voce ainda não fez login"
            [(visible)]="isDialogVisible"
            [modal]="true"
          >
            <div class="dialogBody">
              <div class="dialogImage">
                <img src="/assets/images/comment.png" alt="" width="10" />
              </div>

              Crie sua conta ou realize login para prosseguir com a criação de
              reviews das produções que voce mais gosta
            </div>

            <div class="splitterContainer">
              <div class="loginRedirectContent">
                <button
                  pButton
                  pRipple
                  label="Login"
                  severity="warning"
                  [raised]="true"
                  size="small"
                  [routerLink]="['/login']"
                  routerLinkActive="router-link-active"
                  (click)="closeDialog()"
                ></button>
              </div>
              <span class="splitterLine"
                >Não Possui Cadastro?<a
                  [routerLink]="['/sign-up']"
                  routerLinkActive="router-link-active"
                  (click)="closeDialog()"
                  >Crie sua conta</a
                ></span
              >
            </div>
          </p-dialog>
        </form>
      </div>
      <app-review [reviews]="reviews"></app-review>
      <app-review [reviews]="fireStoreData"></app-review>
    </div>
  </div>
</div>
