//Page container
.container {
  width: 100%;
  background-color: var(--degradeBackgroundColor);
}
//header

.productionHeader {
  padding: 1rem;
  margin-top: 0.5rem;
}
.productionHeaderTitle {
  font-weight: bold;

  font-size: clamp(1.3rem, 2.5vw, 2rem);
}

.productionHeaderSubTitle {
  margin-left: 1.5rem;
  margin-top: 0.3rem;
  font-size: 1rem;
  font-style: italic;
}

//production images and content

img {
  width: 100%;
  border-radius: 0.9rem;
}

#productionInfoContainer {
  padding: 2rem;
}

.voteContainer {
  height: 48%;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.3rem;
  font-size: clamp(1rem, 2.5vw, 1.6rem);
  margin-bottom: 1rem;
  background-color: var(--lighterBackgroundColor);
}

.voteTitle {
  padding: 0.3rem;
  font-weight: bold;
  font-size: 1.3rem;
}
.voteContainer .ratingContent {
  font-size: 1.6rem;
  font-size: clamp(1.2rem, 2.5vw, 1.6rem);
}
.voteContainer .ratingContent i {
  margin-right: 0.2rem;
  font-size: 1.4rem;
  font-size: clamp(1.2rem, 2.5vw, 1.4rem);
}

.TrailerContainer {
  height: 47%;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.3rem;
  font-size: 1rem;
  background-color: var(--lighterBackgroundColor);
}

.TrailerContainer:hover {
  background-color: var(--hoverBackGroundColor);
  transition: 0.3s ease-in-out;
}

.trailerContent i {
  font-size: 3rem;
  font-size: clamp(2rem, 5vw, 3rem);
}

.trailerlink {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 769px) {
  #productionInfoContainer {
    display: grid;
    align-items: center;

    padding: 0;

    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .voteTitle {
    display: none;
  }

  #imageContainer {
    padding: 0;
  }

  .voteContainer {
    display: grid;
    grid-column: 1;
    height: 100%;
    margin-bottom: 0;
  }

  .TrailerContainer {
    display: grid;
    grid-column: 2;
    height: 100%;
  }
}

//genre buttons area
.genreOuterContainer {
  margin-left: 1.5rem;

  margin-bottom: 1.3rem;
}

.genreContainer {
  display: inline-flex;
}

.genreContent {
  display: inline-flex;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

//Production info Description area
.productionDetailsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
  font-size: clamp(0.9rem, 2.5vw, 1rem);
  padding-bottom: 2.5rem;
  background-color: var(--lighterBackgroundColor);
}

.descriptionContent {
  padding: 1rem;

  margin-left: 1rem;
  margin-right: 1rem;
  text-align: justify;
  border-bottom: 1px solid var(--primaryColor);
}

.descriptionContent i {
  color: red;
}

.descriptionContent i:hover {
  color: rgb(248, 11, 11);
}

.descriptionContent b {
  margin-bottom: 0.2rem;
}

.genreButton {
  background-color: red;
  color: red;
}

img {
  width: 100%;
  border-radius: 0.9rem;
}

#productionInfoContainer {
  padding: 1.5rem;
}

@media screen and (max-width: 770px) {
  #productionInfoContainer {
    display: grid;
    align-items: center;

    padding: 0;

    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .voteTitle {
    display: none;
  }

  #imageContainer {
    padding: 0;
  }

  .voteContainer {
    display: grid;
    grid-column: 1;
    height: 100%;
    margin-bottom: 0;
    font-size: 0.9rem;
  }

  .TrailerContainer {
    display: grid;
    grid-column: 2;
    height: 100%;
  }
}

.castingContainer {
  margin-top: 2rem;
}

//review or comment section

.reviewSection {
  margin-top: 5rem;
  background-color: var(--lightBackgroundColor);
  padding: 1rem;
}

.reviewContent {
  margin-left: 1rem;
  margin-right: 1rem;
}

.headerContainer {
  border-color: red;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 1rem;
}

.headerTitle {
  font-size: 1.3rem;
  font-weight: bold;
}

//comment actions section

.textAreaContainer {
  margin-bottom: 2rem;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.2rem;
  margin-top: 0.2rem;
}

.buttonsContainer .closeButton {
  font-size: 0.8rem;
}

//input area
:host ::ng-deep {
  .p-inputtext {
    width: 100%;
    height: 0.5rem;
    padding: 0;
    margin: 0;
    border-radius: 0;

    background-color: var(--lightBackgroundColor);
    color: white;
    border: none;
    border-bottom: 1px solid slategray;
    padding-bottom: 0.4rem;
  }

  .p-inputtext::placeholder {
    color: slategray;
    font-size: 0.9rem;
    text-decoration: none;
  }

  .p-inputtext:focus {
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 0.2rem;
    transition: 0.2s ease-in-out;
    box-shadow: none;
  }

  //button
  .p-button {
    padding: 0.5rem;
    font-size: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.3rem;
    border-radius: 1rem;
  }
  .closeButton .p-button {
    background-color: transparent;
    border: none;
  }
  .closeButton .p-button:hover {
    background-color: var(--lighterBackgroundColor);
    border: none;
  }
}

:host ::ng-deep {
  .p-dialog {
    width: 100%;
    max-width: 500px;
    color: white;
    margin: 1rem;
  }
  .p-dialog .p-dialog-header {
    padding: 1.2rem;
    color: var(--primaryColor);
    background-color: var(--lightHoverBackGroundColor);
  }
  .p-dialog .p-dialog-content {
    color: white;
    background-color: var(--lightHoverBackGroundColor);
  }

  .p-dialog .p-dialog-header .p-dialog-header-icon {
    color: var(--darkPrimaryColor);
  }

  .loginRedirectContent .p-button {
    width: 100%;
    border-radius: 0.4rem;
    margin-left: 0;
  }
}

.dialogBody {
  font-size: 1rem;
  padding: 0.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.dialogImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogImage img {
  max-width: 300px;
  width: 100%;
}
//button

.loginRedirectContent {
  width: 80%;
  margin-bottom: 1rem;
}

.splitterContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.splitterLine {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  padding-top: 1rem;

  border-top: 0.1px solid var(--darkPrimaryColor);
}

.splitterLine a {
  text-decoration: none;
  font-weight: bold;
  margin-left: 0.2rem;
  color: var(--primaryColor);
}
.splitterLine a:hover {
  text-decoration: underline;
  color: var(--lighterPrimaryColor);
}
