<div class="container" *ngFor="let production of productions">
  <div class="productionHeader">
    <span class="productionHeaderContent">{{
      production.title || production.name
    }}</span>
  </div>

  <div class="productionContainer">
    <div class="imageContainer">
      <img src="{{ production.backdrop_path }}" alt="" width="1000" />
    </div>
    <div class="productionContent">
      <div class="ratingSection">
        <span class="ratingContent">
          <i class="pi pi-star-fill" style="color: var(--darkPrimaryColor)"></i
          >{{ production.vote_average }}</span
        >
      </div>
      <div class="trailerSection">
        <span class="trailerSectionContent">
          <div class="trailerSectionTitle">Ver Trailer</div>
          <a [href]="trailerUrlSafe" target="_blank"
            ><i class="pi pi-youtube"></i
          ></a>
        </span>
      </div>
    </div>
  </div>
  <div class="productionDetailsContainer">
    <span class="descriptionContent">
      <b>Sinopse:</b> {{ production.overview || notFoundMessage }}</span
    >
    <span class="descriptionContent">
      <b>Data de Lançamento:</b>
      {{ production.release_date || production.first_air_date }}</span
    >
  </div>
</div>
