.container {
  padding: 1rem;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  font-size: clamp(1.2rem, 2.5vw, 1.4rem);
  //font-size: 1.4rem;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}
//section 1
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-3 {
  padding: 0;
}

.grid img {
  width: 100%;
  padding: 0.5rem;
  max-width: 200px;
  border: 1px solid white;
  border-radius: 0.4rem;
  cursor: pointer;
  background-color: var(--hoverBackGroundColor);
}

.grid img:hover {
  transition: 0.2s ease-in-out;
  background-color: var(--lightHoverBackGroundColor);
}
.grid img.selected {
  transition: 0.2s ease-out;
  background-color: var(--lightHoverBackGroundColor);
  outline: 1px solid white;
  border-radius: 0.4rem;
}

.emojiContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.emojiType {
  margin-top: 0.2rem;
  font-size: 0.9rem;
  font-weight: bold;
}

//
:host ::ng-deep {
  .p-stepper {
    background-color: var(--lighterBackgroundColor);
  }

  .p-stepper .p-stepper-panels {
    background-color: var(--lighterBackgroundColor);
    color: white;
    border-radius: 0.4rem;
  }

  .p-stepper .p-stepper-header .p-stepper-action {
    background-color: var(--lighterBackgroundColor);
  }

  .p-stepper .p-stepper-nav {
    background-color: var(--lighterBackgroundColor);
    margin-bottom: 0.8rem;
    border-radius: 0.4rem;
  }

  .p-stepper .p-button {
    padding: 0.5rem;
    border-radius: 0.6rem;
  }

  .p-stepper .p-stepper-header:has(~ .p-highlight) .p-stepper-separator {
    background-color: var(--primaryColor);
  }
}

//section 2

.section2Container {
  height: fit-content;
}

.imageContainer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin-top: 1rem;
  padding: 1rem;
}

.imageContent {
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.imageContent:not(:last-child) {
  margin-right: 1rem;
}

.imageContainer img {
  width: 100%;
  border-radius: 1rem;
  background-color: var(--hoverBackGroundColor);
  border: 1px solid slategray;
  cursor: pointer;
}

.imageContainer img:hover {
  transition: 0.2s ease-in-out;
  background-color: var(--lightHoverBackGroundColor);
}

.imageContainer img:focus {
  background-color: red;
}

.description {
  font-size: 1rem;
  padding: 1rem;
  font-weight: bold;
}

.imageContainer img.selected {
  transition: 0.2s ease-out;
  background-color: var(--lightHoverBackGroundColor);
  outline: 1px solid white;
}

//section 3

.buttonContainer {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer .buttonContent:not(:last-child) {
  margin-right: 0.6rem;
}

:host ::ng-deep {
  .p-dialog {
    width: 100%;
    max-width: 500px;
    color: white;
  }
  .p-dialog .p-dialog-header {
    padding: 1.2rem;
    color: var(--primaryColor);
    background-color: var(--lightHoverBackGroundColor);
  }
  .p-dialog .p-dialog-content {
    color: white;
    background-color: var(--lightHoverBackGroundColor);
  }

  .p-dialog .p-dialog-header .p-dialog-header-icon {
    color: var(--darkPrimaryColor);
  }
  .loginRedirectContent .p-button {
    width: 100%;
    border-radius: 0.4rem;
    margin-left: 0;
  }
}

.dialogBody {
  font-size: 0.9rem;
  padding: 0.2rem;
  margin-bottom: 1rem;
}

.dialogButtonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.dialogBody {
  font-size: 1rem;
  padding: 0.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.dialogImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogImage img {
  max-width: 300px;
  width: 100%;
  height: fit-content;
}
//button

.loginRedirectContent {
  width: 80%;
  margin-bottom: 1rem;
}

.splitterContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.splitterLine {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  padding-top: 0.9rem;

  border-top: 0.1px solid var(--darkPrimaryColor);
}

.splitterLine a {
  text-decoration: none;
  font-weight: bold;
  margin-left: 0.2rem;
  color: var(--primaryColor);
}
.splitterLine a:hover {
  text-decoration: underline;
  color: var(--lighterPrimaryColor);
}

.col-3 {
  margin: 0.4rem;
}
