.container {
  padding: 1rem;
}

.sectionContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

@media screen and (max-width: 682px) {
  .sectionContainer {
    margin-top: 0;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    padding: 0;
  }
  .container {
    padding: 0;
  }
}
