<p-toolbar class="toolbarContainer">
  <div class="p-toolbar-group-left" *ngIf="hideLeftSide">
    <img
      src="/assets/logo/logoCineReviewSmall.png"
      alt="CineReview"
      (click)="goToHome()"
      *ngIf="hideLeftSide"
    />
    <span class="menuContainer">
      <span
        class="card flex justify-content-center"
        (mouseenter)="menu.toggle($event)"
        (mouseleave)="menu.hide()"
      >
        <span class="select">Categorias <i class="pi pi-angle-down"></i></span>

        <p-tieredMenu #menu [model]="menuAction" [popup]="true" />
      </span>
    </span>
  </div>

  <div class="p-toolbar-group-center" *ngIf="!isMobileScreen">
    <div class="searchBarContainer">
      <form [formGroup]="formGroupSearch">
        <p-autoComplete
          formControlName="searchResult"
          [(ngModel)]="searchText"
          [suggestions]="productionSuggestions"
          (completeMethod)="getProductionsByQuery($event)"
          field="title"
          placeholder="Buscar titulo..."
          [dropdown]="true"
          dropdownIcon="pi pi-search"
          (onSelect)="onItemSelect($event)"
        >
          <ng-template let-searchText pTemplate="item">
            <span class="selectItemContainer">
              {{ searchText.title || searchText.name }}
            </span>
          </ng-template>
        </p-autoComplete>
      </form>
    </div>
  </div>

  <div class="p-toolbar-group-right" [style.width]="changeDivSize">
    <div
      class="searchBarContainer"
      id="mobileSearchBarContainer"
      *ngIf="isExpanded"
    >
      <form [formGroup]="formGroupSearch">
        <p-autoComplete
          class="autoCompleteMobile"
          formControlName="searchResult"
          [(ngModel)]="searchText"
          [suggestions]="productionSuggestions"
          (completeMethod)="getProductionsByQuery($event)"
          field="title"
          placeholder="Buscar titulo..."
          (onSelect)="onItemSelect($event)"
        >
          <ng-template let-searchText pTemplate="item">
            <span class="selectItemContainer">
              {{ searchText.title || searchText.name }}
            </span>
          </ng-template>
        </p-autoComplete>
      </form>
    </div>
    <span
      class="p-input-icon-right"
      *ngIf="isMobileScreen"
      (click)="toggleSearchBar()"
      id="p-input-icon-right"
    >
      <i class="{{ changeAutoCompleteIcon }}"></i>
    </span>
    <div class="loginButtonAction" *ngIf="isUserLoggedIn == null">
      <div
        class="createAccount"
        [routerLink]="['/sign-up']"
        routerLinkActive="router-link-active"
      >
        Criar
      </div>
      <p-button
        label="Login"
        [raised]="true"
        severity="warning"
        class="loginButton"
        size="small"
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
      ></p-button>
    </div>
    <div *ngIf="isUserLoggedIn">
      <span
        class="card flex justify-content-center"
        (mouseenter)="menu.toggle($event)"
        (mouseleave)="menu.hide()"
      >
        <p-avatar icon="pi pi-user" class="avatar" shape="circle"></p-avatar>

        <p-tieredMenu
          #menu
          [model]="popUpItems"
          [popup]="true"
          (click)="signOut()"
        />
      </span>
    </div>
  </div>
</p-toolbar>
